#get_data {
    color: white; 
    background-color: black; 
    margin-top: 5%;
    margin-left: 50%;
    height: 40px;
    width: 100px;
}

#list {
    color: black;
    margin-top: 5%;
    margin-left: 48%;
    font-size: 20px;
}

#computer_options {
    width: 20%;
    margin-top: 5%;
    margin-left: 1%;
}

label {
    color: wheat;
    margin-left: 30%;
}

#result_container {
    pre {
        color: white;
        font-size: 20px;
        margin-left: 50%;
    }
}

.tr_button {
    direction: rtl;
    button {
        font-family: 'Courier New', Courier, monospace;
        font-size: 16px;
    }
    select {
        display: none;
    }
}