<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/computer_information.css">
    <script src="/static/js/computer_information.js"></script>

    <title>{{ computer }}</title>
</head>
<body>
    <h1>פרטים על {{ computer }}</h1>
    <p>מידע נוסף על {{ computer }} יוצג כאן.</p>
    <p>{{computer_data.location}} :מיקום</p>

    <button onclick="stop_computer()">stop</button>

    <!-- <div class="search">
        <input type="search" id="searchBox" placeholder="...חפש כאן">
    </div> -->

    <div class="output" id="output"></div>

    <div id="link_list_div"></div>

    <script>    

        const data = {{computer_data|tojson|safe}};
        window.computer_data = {{computer_data|tojson|safe}};
        const links = {{data_list|tojson|safe}};

        process_data(data["data"])
        make_link_list(links["links"])
    </script>
    
</body>
</html>