<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/computers.css">
    <script src="/static/js/computers.js"></script>
    <title>computers</title>
</head>

<body>

    <div class="tr">
        <button class="tr_button">S</button>
        <div class="tr-button-dropdown">
            <button>HOME</button>
            <button>SETTING</button>
            <button>EXIT</button>
        </div>
    </div>
    

    <form action="http://127.0.0.1:5000/api/computers/" id="computer">

        <label for="computer">computer list</label>
        <input list="computer_datalist" id="computerName" type="text">
        <datalist id="computer_datalist"></datalist>
        <label id="error-message"></label>
        <button type="submit" id="search" onclick="go_to_computer_html()">search</button>

    </form>

    <script>
        try {
            const message = JSON.parse('{{message|default({})|tojson|safe}}');
            if ("404" in message) {
                document.getElementById("error-message").textContent = message["404"]
            }
        } catch(error) {
            console.log(error)
        }
    </script>

</body>
</html>