<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/computer_information.css">
    <script src="/static/js/computer_information.js"></script>

    <title>{{ computer }}</title>
</head>
<body>
    <div id="header">
    <h1>פרטים על {{ computer }}</h1>
    <p>מידע נוסף על {{ computer }} יוצג כאן.</p>
    <p>{{computer_data.location}} :מיקום</p>
    </div>

    <button onclick="stop_computer()" id="stop-computer">stop</button>

    <div id="search-container">
        <input type="text" id="search-input" placeholder="חפש כאן...">
        <button id="search-button">חפש</button>
        <button id="reset-button">איפוס</button>
    </div>

    <div class="output" id="output"></div>

    <div id="link_list_div"></div>

    <script>    

        const data = {{computer_data|tojson|safe}};
        window.computer_data = {{computer_data|tojson|safe}};
        const links = {{data_list|tojson|safe}};

        process_data(data["data"])
        make_link_list(links["links"])

        // הוספת event listener לכפתור החיפוש
        window.originalOutput = document.getElementById("output").innerHTML;
        document.getElementById('search-button').addEventListener('click', searchData);
        document.getElementById("reset-button").addEventListener("click",resetSearch);
    </script>
    
</body>
</html>